* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.nome_inteiro, .Endereço, .Telefone, .redes_, .insta {
    color: rgb(135, 19, 19);
}

h2 {
    margin: 0.5%;
}

p {
    margin: 0;
}

.inter-uniquifier {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.espaco {
    margin: 1;
}

.imagem {
    border-radius: 50%;
    transition: 1s;
}

.margem {
    background-color: rgb(195, 195, 238);
    padding-left: 20px;
    margin-left: -8px;
    margin-right: -8px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: -27px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin-top: 0;
    padding: 0;
    background: #f4f4f4;
}

.curso {
    color: rgb(197, 197, 129);
}

.divisao {
    display: flex;
    justify-content: center;
}

.Nome_port {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.centrao {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imagem:hover {
    transform: scale(1.2);
}

.centrao a {
    color: darkgrey;
}


.sidebar {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.sidebar a img {
    width: 30px;
    height: 30px;
}
