* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #f4f4f4;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-left img {
    width: 30px;
}

.header-right a {
    margin-left: 20px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.header-right a:hover {
    color: #555;
}

/* Barra lateral */
.sidebar {
    position: absolute;
    top: 150px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar a img {
    width: 30px;
    height: 30px;
}

/* Conteúdo Principal */
.main-content {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.text-section {
    max-width: 500px;
}

.text-section h1 {
    font-size: 2.5rem;
    color: #333;
}

.text-section h3 {
    color: #666;
    margin: 10px 0;
}

.text-section p {
    margin-bottom: 20px;
    color: #444;
}

.text-section button {
    padding: 10px 20px;
    background-color: #ff6347;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.text-section button:hover {
    background-color: #ff4500;
}

/* Seção da Imagem */
.image-section {
    max-width: 300px;
}

.image-section img {
    width: 100%;
    border-radius: 50%;
}
